* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}



/* шапка */
.header__top_desk {
    padding-top: 30px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__navs {
    display: flex;
    flex-direction: row;
    gap: 65px;
}

.header__nav {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
}

.header__personal {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.header__profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header__top_mobile {
    display: none;
}

.header__banner {
    height: 500px;
    background-image: url("./images/header-banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

.header__title {
    color: rgb(255, 255, 255);
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    max-width: 790px;
    line-height: 1;
}

.header__text {
    color: rgb(255, 255, 255);
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    max-width: 560px;
    padding-bottom: 48px;
}

/* адаптация для шапки */
@media (min-width: 1000px) and (max-width: 1240px) {
    .header__top_desk {
        padding-right: 20px;
        padding-left: 20px;
    }

    .header__personal {
        gap: 50px;
    }

    .header__banner {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 769px) and (max-width: 999px) {
    .header__top_desk {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 30px;
    }

    .header__logo {
        width: 65px;
    }

    .header__navs {
        gap: 20px;
    }

    .header__personal {
        gap: 50px;
    }

    .header__banner {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 540px) and (max-width: 768px) {
    .header__top_desk {
        display: none;
    }

    .header__top_mobile {
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__top_mobile_burger {
        margin-right: 50px;
    }

    .header__personal {
        gap: 50px;
    }

    .header__mobile_drop {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        width: 360px;
        background: rgb(255, 255, 255);
        top: 0;
        left: calc(50% - 180px);
        padding-top: -20;
    }

    .header__close {
        width: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

    .header__mobile_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        width: 100%;

    }

    .header__navs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding-bottom: 60px;
        border-bottom: 1px solid rgb(247, 242, 234);
    }

    .header__mobile_contacts {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        text-align: center;
    }

    .header__mobile_contact {
        color: rgb(0, 0, 0);
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
    }

    .header__mobile_personal {
        padding: 20px 0;
        background: rgb(247, 242, 234);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
        width: 100%;
    }

    .header__banner {
        padding-left: 20px;
        height: 400px;
    }

    .header__title {
        font-size: 40px;
        width: 90%;
    }

    .header__text {
        font-size: 24px;
        width: 80%;
    }
}

@media (min-width: 420px) and (max-width: 539px) {
    .header__top_desk {
        display: none;
    }

    .header__top_mobile {
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__top_mobile_burger {
        width: 30px;
        margin-right: 50px;
    }

    .header__logo {
        width: 39px;
    }

    .header__personal {
        gap: 50px;
    }

    .header__mobile_drop {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        width: 360px;
        background: rgb(255, 255, 255);
        top: 0;
        left: calc(50% - 180px);
        padding-top: -20;
    }

    .header__close {
        width: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

    .header__mobile_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        width: 100%;

    }

    .header__navs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding-bottom: 60px;
        border-bottom: 1px solid rgb(247, 242, 234);
    }

    .header__mobile_contacts {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        text-align: center;
    }

    .header__mobile_contact {
        color: rgb(0, 0, 0);
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
    }

    .header__mobile_personal {
        padding: 20px 0;
        background: rgb(247, 242, 234);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
        width: 100%;
    }

    .header__banner {
        padding-left: 20px;
        height: 500px;
    }

    .header__title {
        font-size: 40px;
        width: 90%;
    }

    .header__text {
        font-size: 24px;
        width: 80%;
    }
}

@media (min-width: 300px) and (max-width: 419px) {
    .header__top_desk {
        display: none;
    }

    .header__top_mobile {
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__top_mobile_burger {
        width: 30px;
        margin-right: 50px;
    }

    .header__logo {
        width: 39px;
    }

    .header__personal {
        gap: 30px;
    }

    .header__mobile_drop {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        width: 300px;
        background: rgb(255, 255, 255);
        top: 0;
        left: calc(50% - 180px);
        padding-top: -20;
    }

    .header__close {
        width: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

    .header__mobile_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        width: 100%;

    }

    .header__navs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding-bottom: 60px;
        border-bottom: 1px solid rgb(247, 242, 234);
    }

    .header__mobile_contacts {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        text-align: center;
    }

    .header__mobile_contact {
        color: rgb(0, 0, 0);
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
    }

    .header__mobile_personal {
        padding: 20px 0;
        background: rgb(247, 242, 234);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
        width: 100%;
    }

    .header__banner {
        padding-left: 20px;
        height: 360px;
    }

    .header__title {
        font-size: 24px;
        width: 90%;
    }

    .header__text {
        font-size: 13px;
        width: 80%;
    }
}


/*  */
/* контент */
.main {
    display: flex;
    flex-direction: column;
}

/*  */
/* цитата */
.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote__text {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;

    text-align: center;
    max-width: 704px;
    padding-top: 150px;
    padding-bottom: 150px;
}

/* адаптация для  цитата*/
@media (min-width: 769px) and (max-width: 1200px) {
    .quote__text {
        max-width: 72%;
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .quote__text {
        max-width: 84%;
        padding-top: 120px;
        padding-bottom: 135px;
    }
}

@media (min-width: 550px) and (max-width: 639px) {
    .quote__text {
        font-size: 36px;
        max-width: 80%;
        padding-top: 60px;
        padding-bottom: 120px;
    }
}

@media (min-width: 300px) and (max-width: 549px) {
    .quote__text {
        font-size: 16px;
        max-width: 90%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/*  */
/* коллекия чая */
.products {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 150px;
}

.products__title {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.products__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products__text {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

/* адаптация для  коллекия чая*/
@media (min-width: 1000px) and (max-width: 1240px) {
    .products {
        padding-right: 20px;
        padding-left: 20px;
        gap: 30px;
        padding-bottom: 120px;
    }

    .products__img {
        width: 188px;
    }
}

@media (min-width: 620px) and (max-width: 999px) {
    .products {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 120px;
        gap: 40px;
    }

    .products__items {
        justify-content: center;
        gap: 20px;
    }

    .products__img {
        width: 203px;
    }

    .products__item {
        width: 30%;
        align-items: center;
    }
}

@media (min-width: 460px) and (max-width: 619px) {
    .products {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 60px;
        gap: 30px;
    }

    .products__items {
        justify-content: center;
        gap: 30px;
    }

    .products__item {
        align-items: center;
    }

    .products__img {
        width: 180px;
    }
}

@media (min-width: 388px) and (max-width: 459px) {
    .products {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 60px;
        gap: 10px;
    }

    .products__title {
        font-size: 24px;
        font-weight: 400;
    }

    .products__items {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .products__item {
        align-items: center;
        gap: 0px;
    }

    .products__img {
        width: 170px;
    }

}

@media (min-width: 300px) and (max-width: 387px) {
    .products {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 60px;
        gap: 10px;
    }

    .products__title {
        font-size: 24px;
        font-weight: 400;
    }

    .products__items {
        justify-content: center;
        gap: 20px;
    }

    .products__item {
        align-items: center;
        gap: 0px;
    }

    .products__img {
        width: 120px;
    }
}

/*  */
/* отзывы клиентов */
.reviews {
    background: rgb(247, 242, 234, 0.5);
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.reviews__title {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.reviews__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 26px;
}

.reviews__item {
    flex: calc(25% - 26px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews__item_text {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.reviews__item_sign {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    font-style: italic;
}

/* адаптация для  отзывы клиентов*/
@media (min-width: 1000px) and (max-width: 1240px) {
    .reviews {
        padding-right: 50px;
        padding-left: 50px;
    }

    .reviews__item4 {
        display: none;
    }
}

@media (min-width: 750px) and (max-width: 999px) {
    .reviews {
        padding-right: 65px;
        padding-left: 65px;
        padding-bottom: 80px;

    }

    .reviews__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
    }

    .reviews__item {
        flex: calc(50% - 25px);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 460px) and (max-width: 749px) {
    .reviews {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 40px;
    }

    .reviews__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .reviews__item {
        flex: calc(50% - 25px);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 300px) and (max-width: 459px) {
    .reviews {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 30px;
    }

    .reviews__title {
        font-size: 24px;
    }

    .reviews__items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .reviews__item {
        flex: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .reviews__item4 {
        display: none;
    }
}

/*  */
/* Блог */
.blog {
    padding-top: 150px;
    padding-bottom: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__title {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.blog__items {
    margin-top: 60px;

    display: grid;
    grid-template-columns: calc(50% - 29px) calc(50% - 29px);
    gap: 40px;
}

.blog__item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.blog__item_article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog__item_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog__item_text {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}

.blog__item_author {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

.blog__item_more {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

.blog__btn {
    margin-top: 60px;

    box-sizing: border-box;
    border: 1px solid rgb(21, 22, 24);
    background: rgb(255, 255, 255);

    padding: 12px 41px;

    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
}

/* адаптация для  Блог*/
@media (min-width: 1000px) and (max-width: 1240px) {
    .blog {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .blog__items {
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        gap: 20px;
    }

    .blog__item_img {
        width: 230px;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .blog {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .blog__items {
        grid-template-columns: 100%;
        gap: 30px;
    }
}

@media (min-width: 460px) and (max-width: 699px) {
    .blog {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .blog__items {
        grid-template-columns: 100%;
        gap: 30px;
    }

    .blog__item_img {
        width: 230px;
    }
}

@media (min-width: 300px) and (max-width: 459px) {
    .blog {
        padding-right: 45px;
        padding-left: 45px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .blog__title {
        font-size: 24px;
    }

    .blog__items {
        margin-top: 30px;

        grid-template-columns: 100%;
        gap: 30px;
    }

    .blog__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .blog__item_img {
        width: 100%;
    }

    .blog__item_article {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/*  */
/* Присоединитсья */
.join {
    background-image: url(./images/join-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.join__title {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    padding-bottom: 50px;
}

.join__conditions {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.join__conditions_box {
    flex: 50%;
}

.join__conditionsText {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    text-align: left;
}

.join__conditionsData {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.join__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.join__input {
    border: none;
    border-bottom: 1px solid rgb(184, 181, 139);
    background-color: rgb(247, 242, 234, 0.0);
    padding-left: 15px;

    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    text-align: left;
    width: 73%;
}

.join__input::placeholder {
    color: rgb(184, 181, 139);
}

.join__input_btn {
    padding: 12px 41px;

    box-sizing: border-box;
    border: 1px solid rgb(21, 22, 24);
    background: rgb(255, 255, 255);
}

.join__privacy {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

.join__checkbox {
    box-sizing: border-box;
    border: 1px solid rgb(21, 22, 24);
    background: rgb(255, 255, 255);
    margin-top: 4px;
}

.join__checkbox_text {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-align: justify;
}

/* адаптация для  Присоединитсья*/
@media (min-width: 769px) and (max-width: 1240px) {
    .join {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .join__title {
        text-align: center;
    }

    .join__conditions {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .join__conditionsText {
        text-align: center;
        padding-left: 110px;
        padding-right: 110px;
    }

    .join__conditionsData {
        width: 60%;
        padding-left: 20%;
    }
}

@media (min-width: 650px) and (max-width: 768px) {
    .join {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .join__title {
        text-align: center;
    }

    .join__conditions {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .join__conditionsText {
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
    }

    .join__conditionsData {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 430px) and (max-width: 649px) {
    .join {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .join__title {
        text-align: center;
    }

    .join__conditions {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .join__conditionsText {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }

    .join__conditionsData {
        padding-left: 10px;
        padding-right: 10px;
    }

    .join__input {
        font-size: 13px;
    }
}

@media (min-width: 300px) and (max-width: 429px) {
    .join {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .join__title {
        text-align: center;
        font-size: 24px;
    }

    .join__conditions {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .join__conditionsText {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }

    .join__conditionsData {
        padding-left: 10px;
        padding-right: 10px;
    }

    .join__input {
        font-size: 13px;
    }
}

/*  */
/* приоритеты */
.prioritise {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.prioritise__title {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.prioritise__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 49px;
}

.prioritise__item {
    /* flex: 25%; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.prioritise__item_title {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 300;
    line-height: 41px;
}

.prioritise__item_text {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

.prioritise__item_img {
    margin-top: 30px;
}

/* адаптация для  приоритеты*/
@media (min-width: 1000px) and (max-width: 1240px) {
    .prioritise {
        padding-right: 120px;
        padding-left: 120px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .prioritise__items {
        gap: 30px;
    }

    .prioritise__item {
        flex: 35%;
    }

    .prioritise__item_img {
        margin-top: 25px;
    }
}

@media (min-width: 750px) and (max-width: 999px) {
    .prioritise {
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .prioritise__items {
        gap: 30px;
    }

    .prioritise__item {
        flex: calc(50% - 75px);
    }

    .prioritise__item_img {
        margin-top: 25px;
    }
}

@media (min-width: 420px) and (max-width: 749px) {
    .prioritise {
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 50px;
    }

    .prioritise__items {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .prioritise__item {
        flex: 100%;
    }

    .prioritise__item_img {
        margin-top: 25px;
    }
}

@media (min-width: 300px) and (max-width: 419px) {
    .prioritise {
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 30px;
    }

    .prioritise__title {
        font-size: 24px;
    }

    .prioritise__items {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .prioritise__item {
        flex: 100%;
        gap: 0px;
    }

    .prioritise__item_text {
        font-size: 10px;
    }

    .prioritise__item_title {
        font-size: 20px;
    }

    .prioritise__item_img {
        margin-top: 0px;
    }
}

/*  */
/* подвал */
.footer {
    padding-top: 100px;
    padding-bottom: 20px;
    background: rgb(247, 242, 234);

    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footer__info {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer__info_box {
    flex: 50%;
}

.footer__info_left {
    display: flex;
    flex-direction: row;
}

.footer__products, .footer__company {
    flex: 50%;
}

.footer__products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__info_title {
    color: rgb(21, 22, 24);
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    padding-bottom: 30px;
}

.footer__info_link {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.footer__company {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__info_right {
    display: flex;
    flex-direction: row;
    gap: 41px;
}

.footer__quote, .footer__contacts {
    flex: 50%;
}

.footer__quote {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__quote_title {
    opacity: 0.0;
}

.footer__quote_text {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    font-style: italic;
}

.footer__quote_author {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    max-width: 130px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__contacts_text {
    color: rgb(21, 22, 24);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

.footer__contacts_contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer__contacts_link {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer__contacts_tel {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__contacts_email {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__contacts_social {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* адаптация для  подвала*/
@media (min-width: 960px) and (max-width: 1240px) {
    .footer {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 753px) and (max-width: 959px) {
    .footer {
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 50px;

    }

    .footer__info_right {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .footer__quote, .footer__contacts {
        flex: 100%;
    }

    .footer__quote_title {
        display: none;
    }
}

@media (min-width: 479px) and (max-width: 752px) {
    .footer {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 50px;
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .footer__info_right {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .footer__quote, .footer__contacts {
        flex: 100%;
    }

    .footer__quote_title {
        display: none;
    }

    .footer__contacts {
        align-items: center;
    }
}

@media (min-width: 300px) and (max-width: 478px) {
    .footer {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 50px;
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .footer__info_right {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .footer__quote, .footer__contacts {
        flex: 100%;
    }

    .footer__quote_title {
        display: none;
    }



    .footer__contacts {
        align-items: center;
    }

    .footer__contacts_text {
        text-align: center;
    }

    .footer__footer_img {
        width: 90%;
    }
}

.shadow {
    background: rgba(0, 0, 0, 0.5);
}